/.idea

/.terraform/.terraform
/.terraform/*.tfstate
/.terraform/*.tfstate.backup
/.terraform/.terraform.tfstate.lock.info

/runtime/bin/php
/runtime/lib/php/extensions/*
/runtime/lib/php/extensions/.gitignore

/var/*
!/var/.gitignore
!/var/logs
/var/logs/*
!/var/logs/.gitignore

/vendor/
